h1 {
  padding-top: 20px;
  font-family: "Helvetica", sans-serif;
  text-align: center;
  color: #8e8e8e;
  font-size: 38px;
}

p {
  text-align: center;
}
#wheel {
  font-family: "Helvetica", sans-serif;
  color: #4caf50;
  font-size: 38px;
}

.admin-name {
  padding-top: 50px;
  text-align: center;
  font-family: "Helvetica", sans-serif;
  color: #8e8e8e;
  font-size: 23px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:active {
  text-decoration: none;
  color: inherit;
}

#otp{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  /* display: inline-block; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#verify,#complete {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#complete{
  background-color: #256f27;
}

